body{
    height:1800px;
    /* width: 1150px; */
}
.fa-brands:hover{
    color: #ff5f1f !important;
}
.fa-brands{
    margin-left: 10px;;
}
.nav-link:hover{
    color: #ff5f1f !important;

}
.contact {
    margin-top: 50px;
}

[src *=page-heading] {
    width: 1280px
}

.box{
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    text-align: center;
    background-color: white;
    width: 180px;
}
.pro{
    margin-top: -150px;
    margin-left: 500px;
}
/* Countact us */
.agent{
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(2,1fr);
    margin-top: 200px;
    margin-left: 80px;
}
.get{
    font-weight: bold;
    font-size: xx-large;
}
.form{
    margin-left: 70px;
}
.contact-info-box{
  display:flex;
   align-items:center;
    /* gap:10px; */
  background:#f8f7f7; border-radius:14px; border:1px solid #eee;
  box-shadow:0 8px 24px rgba(0,0,0,.06);
  padding:10px;
   height:100px;
   width: 250px;
   /* justify-content: left; */
   margin-left: 50px;
}
.img-fluid{
    margin-bottom: 100px;
}


.contact-info-box h6{ margin:0; font-weight:700; }
.contact-info-box small{ color:#8b8b8b; }
/* .row{
    width:800px;
} */
.map{
    margin-top: 100px;
    margin-left: 100px;
    width:900px;
}
footer{
    background-color: black;
    margin-top: 220px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}